/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroPrimary {
  --ifm-hero-background-color: #ffffff;
}

[data-theme="dark"] .heroPrimary {
  --ifm-hero-background-color: #1b1b1d;
}

.icon {
  border-radius: 50%;
  border: 2px solid #282828;
  border: 2px solid #f5f5f5;
}

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 997px) {
  .heroBanner {
    padding: 4rem;
  }

  .icon {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .icon {
    height: 100px;
    width: 100px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileItem {
  font-size: 24px;
  margin: 0 0 0 0;
}

.itemIcon {
  filter: invert(100%);
  padding-top: 10px;
  padding-right: 4px;
  width: 27px;
  height: 27px;
}
